h1 {
    text-align:center;
    color: #af5151;
    background: #ffeac9;
    font-family: impact;
    font-size: 36px;
    line-height: 70%;
    letter-spacing: 4px;
    text-decoration: dashed;
}
.row {
    background-color: #ffeac9;
    padding: 20px;
}
.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
